<!DOCTYPE html>

<body>
    <h1>{{ title }} Estos son los sponsors oficiales del videojougo</h1>

    <h2>Haga click en "sponsors" para ver los auspiciadores oficiales de cada juego</h2>

    {% for auspicio in info %}
        <ul>
            <li> <b>{{ auspicio.nombre}}</b> empresa especializada en <b>{{ auspicio.industria}}</b> auspicio todos los torneos con un total de <b>${{auspicio.monto}} dolares</b></li>
        </ul>
    
    {% endfor %}
    <a href="{{ url_for('index') }}" class="btn-inicio">Inicio</a>
</body> </html>