<body>
    <h1>{{ title }} Estas viendo todos los torneos!</h1>
    <a href="{{ url_for('index') }}" class="btn-inicio">Inicio</a>

    <h2>Lista de Torneos Disponibles</h2>

    <div class="contenedor-torneos">
        {% for torneo in lista_datos %}
            <div class="tarjeta-torneo">
                <span>{{ torneo['nombre'] }}</span>
                
                <a href="{{ url_for('stats', id_torneo=torneo['nombre']) }}" class="btn-detalle">
                    <button type="button">Ver detalles</button>
                </a>
            </div>
        {% endfor %}
    </div>
</body> </html>