<!DOCTYPE html>
<body>
    <h1>{{ title }} Estos son los juegos que han realizado torneos con nosotros</h1>

    <h2>Haga click en "sponsors" para ver los auspiciadores oficiales de cada juego</h2>

    <div class="contenedor-juegos">
        {% for juego in juegos %}
            <div class="tarjeta-torneo">
                <span>{{juego['videojuego']}}</span>
                
                <a href="{{ url_for('sponsor', id_juego=juego['videojuego']) }}" class="btn-detalle">
                    <button type="button">Sponsors</button>
                </a>
            </div>
        {% endfor %}
    </div>
    <a href="{{ url_for('index') }}" class="btn-inicio">Inicio</a>
</body> </html>